<header class="navbar">
  <div class="left">
    <span class="material-symbols-outlined logo">dashboard_customize</span>
    <span class="title">Task Pilot</span>

    <span class="divider"></span>
    <span class="subtitle">Kanban Board</span>
  </div>

  <div class="right">
    <span class="welcome">Welcome, <b>admin</b></span>

    <button class="icon-btn material-symbols-outlined">notifications</button>
    <button class="icon-btn material-symbols-outlined">settings</button>

    <img class="avatar" src="https://lh3.googleusercontent.com/aida-public/AB6AXuBULrchirq1YMVctupmUq01-Hcd_bKF8SolB4HaT48dFR5KO3NnR3v0Xj-zp6BW-5eeTv20TK-vuBOr_tqe3SzYEBG75X8tocKcIR_QIehc1TdQRUaQ2WIQGCpREU8BFgbWzanWelhGlASA7D7Aep2qj2fOL83SdjfbCdTMIcZeMRYNqbpZr4NquzD9Hx_L0hcZ6NexNRt5hTav3Bkcw2eh-Iz0TCMUTk5apUOXsPFtdqRAXIlBFmpp9ukdMbHUWS5c190gRlj3c1M"/>

    <button class="logout">Logout</button>
  </div>
</header>
